<h1>Data Passed to do list</h1>

•	a title for the todo-list (string)
•	the logged in user's username (string)
•	the list of tasks (array)

<form action="/todo" method="POST">
    <inpute type="text" name="newTask"
    placeholder=""



</form>


